---
import Layout from '../layouts/Layout.astro';
import LayoutSection from '../layouts/LayoutSection.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SectionAbout from '../components/SectionAbout.astro';
import SectionCTA from '../components/SectionCTA.astro';
import SectionServices from '../components/SectionServices.astro';
import SectionLocations from '../components/SectionLocations.astro';
import SectionSocial from '../components/SectionSocial.astro';
---

<Layout
  title="Igraland - Eventos infantiles"
  description="¡Bienvenidos a Igraland!"
>
  <main class="flex h-full flex-col items-center justify-center bg-neutral-50">
    <div id="bgContainer" class="w-full bg-top bg-repeat-y">
      <Header />
      <LayoutSection>
        <SectionAbout />
      </LayoutSection>
      <!-- <LayoutSection>
        <SectionServices />
      </LayoutSection> -->
      <LayoutSection>
        <SectionCTA />
      </LayoutSection>
      <LayoutSection>
        <SectionLocations />
      </LayoutSection>
      <LayoutSection>
        <SectionSocial />
      </LayoutSection>
      <br />
      <!-- <div
        class="img-container flex h-44 flex-row items-center justify-between py-2"
      >
        <img
          class="h-full object-contain"
          src="./images/ph-torta.webp"
          alt="torta-foto"
          loading="lazy"
        />
        <img
          class="h-full object-contain"
          src="./images/ph-empanadas.webp"
          alt="empanadas-foto"
          loading="lazy"
        />
      </div> -->
    </div>
  </main>
  <Footer />
</Layout>

<style>
  #bgContainer {
    /* background-image: url('/images/paper-3.webp'); */
    /* background: linear-gradient(-30deg, #18a2d9 0%, #ffffff 78%); */
    /* background: #18a2d9; */
    --bgSize: 160px; /* control the size*/
    --bgC1: #04bf68;
    --bgC2: #f2c849;
    --bgC3: #18a2d9;

    background: conic-gradient(
        from 15deg at 86.6%,
        var(--bgC3) 25%,
        var(--bgC2) 0 150deg,
        #0000 0
      ),
      conic-gradient(
        from -75deg at 50% 13.39%,
        var(--bgC1) 60deg,
        var(--bgC3) 0 150deg,
        var(--bgC2) 0 210deg,
        #0000 0
      ),
      conic-gradient(
        from 15deg at 36.6% 63.4%,
        var(--bgC1) 60deg,
        var(--bgC3) 0 150deg,
        var(--bgC1) 0 210deg,
        var(--bgC2) 0 75%,
        var(--bgC3) 0
      );
    background-size: var(--bgSize) var(--bgSize);
  }
</style>
