---
import ButtonNormal from './ButtonNormal.astro';
import IconWhatsapp from './icons/IconWhatsapp.astro';
import IconMenu from './icons/IconMenu.astro';
import IconClock from './icons/IconClock.astro';
import { whatsapp, catalog } from '../data/links.json';
---

<h2>Reservas y Consultas</h2>
<div class="min-w-80 py-4">
  <ButtonNormal link={whatsapp}>
    <IconWhatsapp slot="icon-start" class="h-8 fill-accent" />
    WhatsApp
  </ButtonNormal>
  <ButtonNormal link={catalog}>
    <IconMenu slot="icon-start" class="h-8 stroke-accent" />
    Menú
  </ButtonNormal>
</div>

<div class="mt-4 flex w-full flex-col items-center justify-center">
  <IconClock class="h-7" />
  <h2 class="">Horarios de Atención</h2>
  <div
    class="mt-2 flex w-full flex-row items-center justify-center text-xl font-semibold uppercase"
  >
    <p class="pr-1 text-accent">Lunes a Sábado</p>
    <p class="pl-1 text-neutral">de 07:00 a 20:00 hs</p>
  </div>
</div>
