---
import Carousel from './Carousel.tsx';

const images = [
  './images/ph-slider-00.webp',
  './images/ph-slider-01.webp',
  './images/ph-slider-02.webp',
  './images/ph-slider-03.webp',
  './images/ph-slider-04.webp',
  './images/ph-slider-05.webp',
];
---

<h1>¡Bienvenidos!</h1>
<p class="py-4 text-lg">
  <strong>¡Vive la magia de Igraland! </strong> Donde la imaginación y la diversión
  se unen para crear recuerdos inolvidables. Nuestro espacio dedicado para eventos
  infantiles ofrece una experiencia única y emocionante para tus pequeños. ¡Únete
  a la aventura y crea recuerdos para toda la vida!
</p>
<Carousel client:load images={images} />
