---
import ButtonSocial from './ButtonSocial.astro';
import IconLove from './icons/IconLove.astro';
---

<div class="flex w-full flex-col items-center justify-center">
  <IconLove class="h-7 fill-secondary" />
  <h2 class="">Síguenos en nuestras redes</h2>

  <div class="min-w-80 py-4">
    <ButtonSocial socialNet="facebook" />
    <ButtonSocial socialNet="instagram" />
    <ButtonSocial socialNet="tiktok" />
  </div>
</div>
