<section class="flex w-full flex-col items-center justify-center px-2 py-4">
  <div
    class="inner-container elevation-2 w-full max-w-2xl rounded-lg p-6 text-center"
  >
    <slot />
  </div>
</section>

<style>
  .inner-container {
    background-color: rgb(255, 255, 255, 0.3);
  }
</style>
