---
import '@fontsource/rubik';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="sm:container sm:mx-auto">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'GingoKidsRegular';
    src: url('/fonts/gingo-kids-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @tailwind base;
  @layer base {
    h1 {
      @apply my-2 text-5xl text-primary;
      font-family: 'GingoKidsRegular', sans-serif;
    }
    h2 {
      @apply my-2 text-4xl text-primary;
      font-family: 'GingoKidsRegular', sans-serif;
    }
    p {
      @apply text-neutral;
      font-family: 'Nunito Sans', sans-serif;
    }
  }

  :root {
    background: #cfd7db;
  }
  html {
    /* font-family: 'rubik', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
  }
</style>
