<section class="flex w-full flex-col items-center justify-center px-4 py-3">
  <div
    class="inner-container w-full max-w-2xl rounded-lg p-6 text-center elevation-2"
  >
    <slot />
  </div>
</section>

<style>
  .inner-container {
    background-color: rgb(255, 255, 255, 0.94);
    /* background-color: rgb(255, 255, 255); */
  }
</style>
